<!DOCTYPE html>

<html>
    <head>
        <title>Galaxy</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <header>
            <nav>
                <a class = "logo nav-link" href = "/" >Galaxy</a>
                <ul class = "nav-menu">
                    
                </ul>
                
            </nav>
        </header>
        <aside>
            <h1>Royal caribbean</h1>
           
        </aside>
        <section> 
         <h2>Publicidad pagada, los mejores cruceros del mundo </h2>
         <article> 
             <h3>Cruceros disponibles</h3>
             <iframe src="https://www.royalcaribbeangroup.com/" 
                 width="1100"
                     height = "400">
                 
             </iframe>
             
         </article>>
         
         <article> 
             <h3>Youtube</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/LD0eYrg1Az8" title="LA NUEVA MARAVILLA DE ROYAL CARIBBEAN🛳 : WONDER OF THE SEAS℠" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>         </article> 
         
         <article>
             <h3>Ubicanos</h3>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.60856663702668!2d-84.04828134881853!3d9.95582069519726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e468a8ad0e43%3A0x6b9bd2079dc219b4!2sKalo%20Sal%C3%B3n!5e0!3m2!1sen!2scr!4v1748837347416!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </article>
         
         
        </section>
        
        <footer> Galaxy 2025 &COPY; Todos los derechos reservados</footer>>
        
        
       

            
    </body>
</html>
