<!DOCTYPE html>

<html>
    <head>
        <title>Galaxy</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">Galaxy </a>
                <h1 style="color: white;">En deportes: la selección de Argentina venció hoy a la selección de Chile, dejándola prácticamente eliminada del Mundial 2026.</h1>
            </nav>
        </header>

        
        
        <img src="https://www.elespectador.com/resizer/v2/QIL7ZGTHPT6OJ7NZV53WOPRVUQ.jpg?auth=152bdf2b6568c8b3bb4d29890473d28638c0bbf3edc1525df2e392dcd342ac94&amp;width=920&amp;height=613&amp;smart=true&amp;quality=60" jsaction="" class="sFlh5c FyHeAf iPVvYb" style="max-width: 1025px; height: 556px; margin: 300px; width: 1025px;" alt="Chile vs. Argentina: hora y dónde ver el partido de las Eliminatorias | Gol  Caracol, noticias HOY" jsname="kn3ccd">
    </body>

</html>
