<!DOCTYPE html>

<html>
    <head>
        <title>Galaxy</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <header>
            <nav>
                <a class = "logo nav-link" href = "/" >Galaxy</a>
                
            </nav>
        </header>
        <aside>
            <h1>Recordando el pasado</h1>
            <p> Recordando los juegos olimpicos</p>
        </aside>
        <section> 
         <h2>Muse </h2>
         <article> 
             <h3>Survival Londres 2012</h3>
             <iframe width="1200" height="480" src="https://www.youtube.com/embed/jkhVjm9iGFc" title="MUSE Survival London 2012 Official Olympic Song" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         </article>>
         
        </section>
        <footer> Galaxy 2025 &COPY; Todos los derechos reservados</footer>>
        
       

            
    </body>
</html>
